.null {
  font-style: italic;
  border: inset 3px;
  text-align: center;
}
body {
  font-family: 'Lato', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #1E252B;
}
h1 {
  text-align: center;
  color: #00795f;
}
table {
  border-collapse: separate;
  border: 3px solid #1E252B;
  column-gap: 50%em;
  margin: 1em;
  width: 95vw;
}
td {
  border: 1px inset #1E252B;
  padding: 50%em;
}
tr {
  margin: 1em;
}
tr:nth-child(even) {
  background: #ABC27E;
}
.esriFieldTypeSmallInteger,
.esriFieldTypeInteger,
.esriFieldTypeDouble {
  font-family: Inconsolata, "Courier New", Courier, monospace;
  color: #00795f;
  text-align: right;
}
